{% extends "_base.html" %}

{% block title %}| Payment Successfull{% endblock title %}

{% block content %}
    <div class="background-container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 payment-margin">
                    <h1 class="payment-title">Your payment was successfull</h1>
                    <p style="color: #f4f4f4 !important;">Kindly check your email inbox for furthur details.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}