{% extends "_base.html" %}

{% block title %}| Payment Cancelled{% endblock title %}

{% block content %}
    <div class="background-container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 payment-margin">
                    <h1 class="payment-title">Your payment has not been processed</h1>
                    <p style="color: #f4f4f4 !important;">There was a problem processing your payment.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}