{% load static %}

<!--FOOTER-->
<footer id="contactus" class="footer-padding">
    <div class="container">
        <div class="row">
            <div
            class="col-md-4 col-sm-12 footer_panel heading_space wow fadeIn"
            data-wow-delay="300ms"
            >
            <h3 class="heading bottom30">
            About Us<span class="divider-left"></span>
            </h3>
            <a href="{% url 'plans:index' %}" class="footer_logo bottom25"
            ><img src="{% static 'images/logo-white.png' %}" alt="Webox"
            /></a>
            <p>
            Welcome to Subscription House, We are dedicated to helping job seekers
            land a job quickly and build their career.
            </p>
            <ul class="social_icon top25">
            <li>
                <a href="https://www.facebook.com/subscriptionshouse" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/subscriptions-house/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            </ul>
            </div>
            <div
            class="col-md-4 col-sm-12 footer_panel heading_space wow fadeIn"
            data-wow-delay="350ms"
            >
            <h3 class="heading bottom30">
            Quick Links<span class="divider-left"></span>
            </h3>
            <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="links">
                <li><a href="{% url 'plans:index' %}#home">Home</a></li>
                <li><a href="{% url 'plans:index' %}#aboutus">Services</a></li>
                <li><a href="{% url 'plans:index' %}#gallery">About</a></li>
                <li><a href="{% url 'plans:index' %}#pricing">Packages</a></li>
                <li><a href="{% url 'plans:index' %}#faq">FAQs</a></li>
                <li><a href="{% url 'plans:index' %}#reviews">Testimonials</a></li>
                <li><a href="{% url 'plans:index' %}#contactus">Contact Us</a></li>
                </ul>
            </div>
            </div>
            </div>
            <div
            class="col-md-4 col-sm-12 footer_panel heading_space wow fadeIn"
            data-wow-delay="400ms"
            >
            <h3 class="heading bottom30">
            Keep in Touch <span class="divider-left"></span>
            </h3>
            {% comment %} <p class=" address"><i class="fa fa-map-marker"></i>Lahore, Punjab, Pakistan.</p> {% endcomment %}
            <p class="address">
            <i class="fa fa-envelope-o"></i
            ><a href="mailto:subscriptionhouse.1@gmail.com">subscriptionhouse.1@gmail.com</a>
            </p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="300ms">
            <p>
            Copyright &copy; 2021 - 2023
            <a href="javascript:void(0)">subscription House</a>. all rights
            reserved.
            </p>
            </div>
        </div>
    </div>
</div>
<!--FOOTER ends-->