{% load static %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--Bootstrap Core-->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--to view items on reach-->
<script src="{% static 'js/jquery.appear.js' %}"></script>

<!--Equal-Heights-->
<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>

<!--Owl Slider-->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!--number counters-->
<script src="{% static 'js/jquery-countTo.js' %}"></script>

<!--Parallax Background-->
<script src="{% static 'js/parallaxie.js' %}"></script>

<!--Cubefolio Gallery-->
<script src="{% static 'js/jquery.cubeportfolio.min.js' %}"></script>

<!--FancyBox popup-->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

<!--Morphing Text-->
<script src="{% static 'js/morphext.min.js' %}"></script>

<!--Particles-->
<script src="{% static 'js/particles.min.js' %}"></script>

<!--WOw animations-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Revolution SLider-->
<script src="{% static 'js/revolution/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/revolution/jquery.themepunch.revolution.min.js' %}"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'js/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.video.min.js' %}"></script>

<!--Google Map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ97zN_MClQ8BnmJJOCY165S2QEYvbIis"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script> 


<script>
    setTimeout(() => {
        const box = document.getElementById('box');
        box.style.display = 'none';
    }, 5000); 
</script>